
* {
	box-sizing: border-box;
}

body {
	font-family: Sans-serif;
	padding: 10px;
	background: #D6EAF8;
}


.header {
	background-color: #363A3E;
	padding: 20px;
	text-align: center;
}

.header h1 {
	font-size: 50px;
	color : #D6EAF8;
}




ul {
	overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #363A3E;
}

li a {
	float: left;
    display: block;
    color: #D6EAF8;
	text-align: center;
    padding: 13px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #5cb860;
    color: black;
}

li a:hover:not(.active) {
    background-color: #555;
    color: #363A3E;
}








.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;:
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}